@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));
palette light:
   - #FAF9EE  -> background (warm, very light   )
   - #A2AF9B  -> primary (soft green)
   - #DCCFC0  -> secondary (warm beige)
   - #EEEEEE  -> muted surface / subtle neutrals
 Your palette dark:
   - #1C1B19  -> background (warm, very light   )
   - #B8C6A9 -> primary (soft green)
   - #E6D9C9 -> secondary (warm beige)
   - #2A2825 -> muted surface / subtle neutrals
   - #F8F5ED -> text primary
   - #D1C9BD -> text secondary
*/

:root {
	--color-bg: #faf9ee;
	--color-primary: #a2af9b;
	--color-secondary: #dccfc0;
	--color-surface-muted: #eeeeee;
	--color-text-primary: #141414;
	--color-text-secondary: #555555;
	--border-radius-base: 8px;
	--font-size-base: 14px;
	--button-border-radius: 6px;
	--input-bg-container: #ffffff;
	--card-bg: #fff;
}
html.dark {
	--color-bg: #1c1b19;
	--color-primary: #b8c6a9;
	--color-secondary: #e6d9c9;
	--color-surface-muted: #2a2825;
	--color-text-primary: #f8f5ed;
	--color-text-secondary: #d1c9bd;
	--border-radius-base: 8px;
	--font-size-base: 14px;
	--button-border-radius: 6px;
	--input-bg-container: #252423;
	--card-bg: #221f1c;
}

/* ========== Page basics ========== */
html {
	font-family: var(--font-peyda), sans-serif;
	font-variant-numeric: normal;
	direction: rtl !important;
}

/* Utility: make it easy to use CSS variables in your app styles */
body {
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	font-size: var(--font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: rtl !important;
}

.rtl,
.rtl * {
	direction: rtl;
}

/* ========== Animations ========== */
@keyframes expand {
	from {
		max-height: 2.5rem;
	}
	to {
		max-height: 2000px;
	}
}

@keyframes collapse {
	from {
		max-height: 2000px;
	}
	to {
		max-height: 2.5rem;
	}
}

@keyframes moveStripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 40px 0;
	}
}
.animate-expand {
	animation: expand 0.5s ease-in-out forwards;
	overflow: hidden;
}

.animate-collapse {
	animation: collapse 0.5s ease-in-out forwards;
	overflow: hidden;
}
